@using Orchard.Mvc.Html;
@using Globalcaching.Core;
@{
    Layout.Title = @Model.GCComGeocacheData.Name;
}

<div class="panel panel-info">
    <div class="panel-heading">
        Informatie
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <h1><img src="@Href(string.Format("~/Modules/Globalcaching/Media/WptTypes/{0}.gif",@Model.GCComGeocacheData.GeocacheTypeId))" /> @Model.GCComGeocacheData.Name</h1>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2"><strong>Coordinaat:</strong></div>
                <div class="col-md-10">@Helper.GetCoordinatesPresentation(@Model.GCComGeocacheData.Latitude, @Model.GCComGeocacheData.Longitude)</div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Land:</strong></div>
                <div class="col-md-10">@String.Format("{0}", @Model.GCComGeocacheData.Country ?? "")</div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Provincie:</strong></div>
                <div class="col-md-10">@String.Format("{0}", @Model.GCComGeocacheData.State ?? "")</div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Plaats:</strong></div>
                <div class="col-md-10">@String.Format("{0}", @Model.GCEuGeocacheData.City ?? "")</div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Eigenaar:</strong></div>
                <div class="col-md-10"><a href="http://www.geocaching.com/profile/?guid=@Model.Owner.PublicGuid" target="_blank">@Model.Owner.UserName</a></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Gepubliceerd:</strong></div>
                <div class="col-md-10">
                    @if (@Model.GCEuGeocacheData.PublishedAtDate != null)
                    {
                        @String.Format("{0:d}", @Model.GCEuGeocacheData.PublishedAtDate)
                    }
                    else
                    {
                        @String.Format("{0:d}", @Model.GCComGeocacheData.UTCPlaceDate)
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Favorites:</strong></div>
                <div class="col-md-10">
                    @if (@Model.GCComGeocacheData.FavoritePoints != null)
                    {
                        @String.Format("{0}", @Model.GCComGeocacheData.FavoritePoints)
                    }
                    else
                    {
                        @Html.Raw("Onbekend")
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Aangepast:</strong></div>
                <div class="col-md-10">@String.Format("{0:d}", @Model.GCComGeocacheData.DateLastUpdate)</div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Container:</strong></div>
                <div class="col-md-10"><img src=@Href(string.Format("~/Modules/Globalcaching/Media/container/{0}.gif", @Model.GCComGeocacheData.ContainerTypeId)) /></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Moeilijkheid:</strong></div>
                <div class="col-md-10"><img src=@Href(string.Format("~/Modules/Globalcaching/Media/stars/stars{0}.gif", @Model.GCComGeocacheData.Difficulty.ToString("0.#").Replace(',', '_').Replace('.', '_'))) /></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Terrein:</strong></div>
                <div class="col-md-10"><img src=@Href(string.Format("~/Modules/Globalcaching/Media/stars/stars{0}.gif", @Model.GCComGeocacheData.Terrain.ToString("0.#").Replace(',', '_').Replace('.', '_'))) /></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Afstand:</strong></div>
                <div class="col-md-10">
                    @if (@Model.GCEuGeocacheData.Distance != null)
                    {
                        @String.Format("{0:0.#} km", @Model.GCEuGeocacheData.Distance)
                    }
                    else
                    {
                        @Html.Raw("Onbekend")
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Premium:</strong></div>
                <div class="col-md-10">
                    @if (@Model.GCComGeocacheData.IsPremium != null)
                    {
                        @String.Format("{0}", @Model.GCComGeocacheData.IsPremium == true ? "Ja" : "Nee")
                    }
                    else
                    {
                        @Html.Raw("Onbekend")
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>Gevonden:</strong></div>
                <div class="col-md-10">@String.Format("{0}", @Model.GCEuGeocacheData.FoundCount ?? "")</div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="http://staticmap.openstreetmap.de/staticmap.php?center=@String.Format("{0}", @Model.GCComGeocacheData.Latitude).Replace(',','.'),@String.Format("{0}", @Model.GCComGeocacheData.Longitude).Replace(',','.')&zoom=14&size=200x200&maptype=mapnik&markers=@String.Format("{0}", @Model.GCComGeocacheData.Latitude).Replace(',','.'),@String.Format("{0}", @Model.GCComGeocacheData.Longitude).Replace(',','.'),lightblue1" />
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        Beschrijving
    </div>
    <div class="panel-body">
@if (@Model.GCComGeocacheData.ShortDescription!=null)
{
    if (@Model.GCComGeocacheData.ShortDescriptionIsHtml)
    {
        @Html.Raw(@Model.GCComGeocacheData.ShortDescription)
    }
    else
    {
        @Model.GCComGeocacheData.ShortDescription.Replace("\r", "<br />")
    }
}
@if (@Model.GCComGeocacheData.LongDescription != null)
{
    if (@Model.GCComGeocacheData.LongDescriptionIsHtml)
    {
        @Html.Raw(@Model.GCComGeocacheData.LongDescription)
    }
    else
    {
        @Model.GCComGeocacheData.LongDescription.Replace("\r", "<br />")
    }
}
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        Hints
    </div>
    <div class="panel-body">
        @if (@Model.GCComGeocacheData.EncodedHints != null)
        {
            @Model.GCComGeocacheData.EncodedHints.Replace("\r", "<br />")
        }
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        Logs
    </div>
    <div class="panel-body">
        <table id="logs" class="table table-hover table-striped">
            <tbody>
@foreach (var gcl in Model.GCComGeocacheLogs)
{
                <tr>
                    <td class="col-md-2">
                        <a href="http://www.geocaching.com/profile/?guid=@gcl.Writer.PublicGuid" target="blank">@gcl.Writer.UserName</a><br />
                        <small>
                            @if(gcl.Writer.MemberTypeId > 1)
                            {
                                @Html.Raw("Premium Member")
                            }else
                            {
                                @Html.Raw("Member")
                            }
                        </small><br />
                        <img src="@gcl.Writer.AvatarUrl" /><br />
                        <img src="@Href("~/Modules/Globalcaching/Media/logtypes/")2.gif" />&nbsp; @gcl.Writer.FindCount
                    </td>
                    <td class="col-md-10">
                        <img src="@Href(string.Format("~/Modules/Globalcaching/Media/logtypes/{0}.gif",@gcl.Log.WptLogTypeId))" />&nbsp;
                        @foreach (var g in @Model.LogTypes)
                        {
                            if (g.ID == @gcl.Log.WptLogTypeId)
                            {
                                @g.WptLogTypeName
                                break;
                            }
                        }
                        <span class="pull-right"> @gcl.Log.VisitDate.ToString("d")</span><br />
                        @Html.Raw(@HttpUtility.HtmlEncode(gcl.Log.LogText).Replace("\r", "<br />"))
                    </td>
                </tr>
}
            </tbody>
        </table>
        <button class="btn btn-primary" id="getalllogs">Laat alle logs zien</button>
    </div>
</div>


<script type="text/javascript">

    var geocacheCode = '@Model.GCComGeocacheData.Code';

    function getAllLogs()
    {
        myApp.showPleaseWait();
        window.location.assign('@Href("~/Geocache/")' + geocacheCode + '?al=1#logs');
    }

    $("#getalllogs").click(function () {
        getAllLogs();
    });

    $(function () {
        if (window.location.href.indexOf('?al=1') > 0) {
            $("#getalllogs").hide();
        }
    });
</script>