<p>
    <strong>De Nederlandse Parel van de maand</strong>
    <a href="@Href("~/Geocache/")@Model.Netherlands.Code"><img style="float: right;" src="@Href("~/")@Model.Netherlands.BannerUrl" width="200" height="70"></a>
</p>
<p>
    De Parel van de (publicatie) maand <strong>@Model.Netherlands.Month</strong> is de @Model.Netherlands.GeocacheTypeName:<span style="font-size: medium;"><strong><span> <a href="@Href("~/Geocache/")@Model.Netherlands.Code">@Model.Netherlands.Name</a><a href="@Href("~/Geocache/")@Model.Netherlands.Code"></a></span></strong></span>
    <br />
</p>
<br />