<form role="form">
    <div class="form-group">
        <label class="control-label">Land:</label>
        <select class="form-control" id="country">
            <option value="141">Nederland</option>
            <option value="4">Belgie</option>
            <option value="8">Luxemburg</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Cache minimaal aantal dagen online:</label>
        <input class="form-control" id="minDaysOnline" value="@Model.Filter.CacheMinDaysOnline" />
    </div>
    <div class="form-group">
        <label class="control-label">Totaal minimaal aantal dagen online:</label>
        <input class="form-control" id="tminDaysOnline" value="@Model.Filter.TotalMinDaysOnline" />
    </div>
    <div class="form-group">
        <label class="control-label">Cache minimaal aantal Favorites:</label>
        <input class="form-control" id="minFavorites" value="@Model.Filter.CacheMinFavorites" />
    </div>
    <div class="form-group">
        <label class="control-label">Totaal minimaal aantal Favorites:</label>
        <input class="form-control" id="tminFavorites" value="@Model.Filter.TotalMinFavorites" />
    </div>
    <div class="form-group">
        <label class="control-label">Cache minimaal aantal keer gevonden:</label>
        <input class="form-control" id="minFounds" value="@Model.Filter.CacheMinFoundCount" />
    </div>
    <div class="form-group">
        <label class="control-label">Totaal minimaal aantal keer gevonden:</label>
        <input class="form-control" id="tminFounds" value="@Model.Filter.TotalMinFoundCount" />
    </div>
    <div class="form-group">
        <label class="control-label">(deel van) naam cache-eigenaar:</label>
        <input class="form-control" id="usrname" value="@Model.Filter.UserName" />
    </div>
    <div class="form-group">
        <label class="control-label">Sorteer op:</label>
        <select class="form-control" id="sorton">
            <option value="0">Aantal Favorites</option>
            <option value="1">Percentage Favorites (van totaal aantal keer gevonden)</option>
        </select>
    </div>

    <button class="btn btn-primary" type="button" id="searchFavoritesButton">Maak lijst</button>
</form>

<div id="searchFavoritesTopPager">
</div>
<table class="table table-striped table-hover" id="searchFavoritesResults">
    <thead>
        <tr>
            <th></th>
            <th>Eigenaar</th>
            <th>Caches</th>
            <th>#Fav</th>
            <th>%Fav</th>
            <th>Gevonden (PM)</th>
            <th>#Dagen</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="searchFavoritesBottomPager">
</div>

<script type="text/javascript">

    initGlobalcachingPager("searchFavoritesTopPager", "favoritesPager");
    initGlobalcachingPager("searchFavoritesBottomPager", "favoritesPager");

    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }

    function updateFavoritesList(response) {
        var resultElementName = "#searchFavoritesResults";
        var pagerElementName = ".favoritesPager";

        for (var i = 0; i < response.FavoriteGeocachers.length; i++) {
            var line = response.FavoriteGeocachers[i];
            // insert after last row!
            var td1 = "";
            var td2 = "";
            var td3 = "";
            var td4 = "";
            var td5 = "";
            var td6 = "";
            var td7 = "";

            if (line.DirectionIcon != null) {
                td1 = '<img src="@Href("~/Modules/Globalcaching/Media/compass/")' + line.DirectionIcon + '.gif"/> ' + line.DirectionIcon + '<br />' + Number(line.DistanceFromHome).toFixed(1) + 'km';
            }
            td2 = '<table><tr><td><img src="' + line.AvatarUrl + '" height="48" width="48" /></td><td><strong>' + htmlEncode(line.UserName) + '</strong><br /><a href="http://www.geocaching.com/profile/?guid=' + line.PublicGuid + '" target="blank">Profiel</a> | <a href="@Href("~/GeocachesVanEigenaar/")' + line.OwnerId + '">Alle caches</a></td></tr></table>';
            td3 = line.CacheCount.toString();
            if (line.FavoriteCount != null) {
                td4 = line.FavoriteCount.toString();
            }
            td5 = line.FavPer100Found.toFixed(1);
            td6 = line.FoundCount.toString() + ' (' + line.PMFoundCount.toString() + ')';
            td7 = line.DaysOnline.toString();

            $(resultElementName + ' > tbody:last').append('<tr><td>' + td1 + '</td><td>' + td2 + '</td><td>' + td3 + '</td><td>' + td4 + '</td><td>' + td5 + '</td><td>' + td6 + '</td><td>' + td7 + '</td></tr>');
        }

        setupGlobalcachingPage(response.CurrentPage, response.PageCount, response.TotalCount, pagerElementName, "requestFavoritesPage");
    }

    function requestFavoritesPage(page) {
        var resultElementName = "#searchFavoritesResults";
        var pagerElementName = ".favoritesPager";

        myApp.showPleaseWait();

        $(resultElementName).find("tr:gt(0)").remove();
        $(pagerElementName).find("li").remove();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetFavoriteGeocachers", "FavoriteGeocachers", new { area = "Globalcaching" })',
            data: {
                page: page,
                pageSize: "50",
                countryId: $("#country").val(),
                minFav: $("#minFavorites").val(),
                minFounds: $("#minFounds").val(),
                minDays: $("#minDaysOnline").val(),
                tminFav: $("#tminFavorites").val(),
                tminFounds: $("#tminFounds").val(),
                tminDays: $("#tminDaysOnline").val(),
                usrName: $("#usrname").val(),
                sortOn: $("#sorton").val(),
                __RequestVerificationToken: '@Html.AntiForgeryTokenValueOrchard()'
            },
            success: function (response) {
                myApp.hidePleaseWait();
                updateFavoritesList(response);
            },
            error: function (data, errorText) {
                myApp.hidePleaseWait();
                alert(errorText);
            }
        });
    }

    $("#searchFavoritesButton").click(function () {
        requestFavoritesPage('1');
    });

    $("#country").val(@Model.Filter.CountryId);
    $("#sorton").val(@Model.Filter.SortOn);

    updateFavoritesList(@Html.Raw(Json.Encode(@Model)));
</script>