@using Orchard.Mvc.Html
@model Globalcaching.Models.GCComSearchLogImagesResult

@{
    Style.Require("datetimepicker.Style");
}
<form role="form">
    <div class="form-group">
        <label for="startdate1" class="col-sm-2 control-label">@T("Vanaf datum")</label>
        <div class='col-sm-10 input-group date' id='startdate1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="enddate1" class="col-sm-2 control-label">@T("Tot en met datum")</label>
        <div class='col-sm-10 input-group date' id='enddate1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
    <div class="row">
        <span class="col-sm-10 col-sm-offset-2">Maximum periode is een week.</span>
    </div>
    <div class="form-group">
        <label for="CountryCode" class="col-sm-2 control-label">@T("Land")</label>
        <div class="col-sm-10 input-group">
            @Html.DropDownListFor(
                        m => m.Filter.CountryID,
                       new SelectList(
                              new List<Object>{
                                   new { value = 0 , text = "Alle"  },
                                   new { value = 141 , text = "Nederland"  },
                                   new { value = 4 , text = "Belgie" },
                                   new { value = 8 , text = "Luxemburg"}
                                },
                              "value",
                              "text",
                           Model.Filter.CountryID
                    ),
                                             new { @class = "form-control" }
        )
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary col-sm-1 col-sm-offset-2" type="button" id="gccomSearchLogImagesButton">Zoek!</button>
    </div>
</form>

<style>
    div.img {
        margin-left: 25px;
        padding: 5px;
        height: auto;
        float: left;
        text-align: center;
    }
    div.imgalt {
        background-color:#f1e6e6;
    }

    div.img img {
        display: inline;
        margin-top: 5px;
        max-width: 100px;
        border: 1px solid #ffffff;
    }

    div.img a:hover img {
        border: 1px solid #0000ff;
    }

    div.log {
        text-align: center;
        font-weight: normal;
        width: 100%;
        margin-bottom: 5px;
    }

    div.name {
        text-align: left;
        font-weight: normal;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        margin: 5px;
    }
    div.logdate {
        text-align: left;
        font-weight: normal;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        margin: 5px;
    }
    div.by {
        text-align: left;
        font-weight: normal;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        margin: 5px;
    }
    div.cache {
        text-align: left;
        font-weight: normal;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        margin: 5px;
    }
</style>

<div id="gccomSearchLogImagesTopPager">
</div>
<div class="row" id="logImagesContent">

</div>
<div id="gccomSearchLogImagesBottomPager">
</div>

<script type="text/javascript">

    initGlobalcachingPager("gccomSearchLogImagesTopPager", "gccomSearchLogImages");
    initGlobalcachingPager("gccomSearchLogImagesBottomPager", "gccomSearchLogImages");

    function requestgccomSearchLogImagesPage(page) {
        var resultElementName = "#logImagesContent";
        var pagerElementName = ".gccomSearchLogImages";

        myApp.showPleaseWait();

        $(resultElementName).html('');
        $(pagerElementName).find("li").remove();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "GCComSearchLogImages", new { area = "Globalcaching" })',
            data: {
                StartDate: $("#startdate1").data("DateTimePicker").getDate().toISOString(),
                EndDate: $("#enddate1").data("DateTimePicker").getDate().toISOString(),
                CountryID: $("#Filter_CountryID").val(),
                page: page,
                pageSize: "30",
                __RequestVerificationToken: '@Html.AntiForgeryTokenValueOrchard()'
            },
            success: function (response) {
                myApp.hidePleaseWait();

                updateList(response);
            },
            error: function (data, errorText) {
                myApp.hidePleaseWait();
                alert(errorText);
            }
        });
    }

    function updateList(response) {
        var resultElementName = "#logImagesContent";
        var pagerElementName = ".gccomSearchLogImages";
        var col = 0;
        var odd = true;
        var html = '';
        for (var i = 0; i < response.Items.length; i++) {
            var line = response.Items[i];

            if (col == 0) {
                html += '<div class="row">';
            }

            var d = eval('new' + line.VisitDate.replace(/\//g, ' '));
            if (odd) {
                html += '<div class="img imgalt col-md-2">';
            }
            else {
                html += '<div class="img col-md-2">';
            }
            odd = !odd;
            html += '<a href="' + line.ImageUrl + '" target="_blank"><img src="' + line.ThumbUrl + '"/></a>';
            html += '<div class="log"><a href="' + line.LogUrl + '" target="_blank">Log</a></div>';
            html += '<div class="name">Naam: <strong>' + line.Name + '</strong></div>';
            html += '<div class="logdate">Datum: <strong>' + formatDateToShortDate(d) + '</strong></div>';
            html += '<div class="by">Door: <a href="http://www.geocaching.com/profile/?guid=' + line.UserNameGuid + '" target="_blank">' + line.UserName + '</a></div>';
            html += '<div class="cache">Cache: <a href="@Href("~/Geocache/")' + line.GeocacheCode + '">' + line.GeocacheName + '</a></div>';
            html += '</div>';

            col++;
            if (col >= 5) {
                col = 0;
                html += '</div>';
            }
        }
        if (col > 0) {
            html += '</div>';
        }
        $(resultElementName).html(html);
        setupGlobalcachingPage(response.CurrentPage, response.PageCount, response.TotalCount, pagerElementName, "requestgccomSearchLogImagesPage");
    }

    updateList(@Html.Raw(Json.Encode(@Model)));

    $("#gccomSearchLogImagesButton").click(function () {
        requestgccomSearchLogImagesPage('1');
    });

    $(function () {
        var d = moment('@Model.Filter.StartDate.Month' + '/' + '@Model.Filter.StartDate.Day' + '/' + '@Model.Filter.StartDate.Year');
        $('#startdate1').datetimepicker({
            defaultDate: d
        });
        var e = moment('@Model.Filter.EndDate.Month' + '/' + '@Model.Filter.EndDate.Day' + '/' + '@Model.Filter.EndDate.Year');
        $('#enddate1').datetimepicker({
            defaultDate: e
        });
        $("#startdate1").on("dp.change", function (e) {
            $('#enddate1').data("DateTimePicker").setMinDate(e.date);
            $('#enddate1').data("DateTimePicker").setMaxDate(e.date.add(7, 'days'));
            $('#enddate1').data("DateTimePicker").setDate(e.date)
        });
    });
</script>
