@using Globalcaching.Models
@model Globalcaching.ViewModels.SearchByAttributesModel
@{
    Style.Require("datetimepicker.Style");
}

<!-- Found -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkfoundcount" type="checkbox" data-toggle="collapse" data-target="#pnlfoundcount" />
        &nbsp;&nbsp;Aantal keer gevonden
    </div>
    <div id="pnlfoundcount" class="panel-body collapse in">
        Van
        <input type="text" id="foundcountfrom" width="80" value="0" />
        t/m
        <input type="text" id="foundcountto" width="80" value="10" />
    </div>
</div>

<!-- Geocache pictures -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkgcpictures" type="checkbox" data-toggle="collapse" data-target="#pnlgcpictures" />
        &nbsp;&nbsp;Aantal plaatjes in beschrijving (geupload naar geocaching.com)
    </div>
    <div id="pnlgcpictures" class="panel-body collapse in">
        Van
        <input type="text" id="gcpicturesfrom" width="80" value="0" />
        t/m
        <input type="text" id="gcpicturesto" width="80" value="10" />
    </div>
</div>

<!-- PM Only -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkpm" type="checkbox" data-toggle="collapse" data-target="#pnlpm" />
        &nbsp;&nbsp;Alleen voor Premium Members (PMO op geocaching.com)
    </div>
    <div id="pnlpm" class="panel-body collapse in">
        <input type="checkbox" id="ispm" />
        Alleen voor Premium Members
    </div>
</div>

<script type="text/javascript">
    function togglePosAttributeButton(id){
        var v = $('#attrposvalue'+id).val();
        var s = $("#attrposimg"+id).attr("src");
        if (v=='0')
        {
            v = '1';
            s = s.replace(id+"_", id);
            $("#attrposimg"+id).attr("src", s);
        }
        else if (v=='1')
        {
            v = '2';
            s = s.replace(id, "_"+id);
            $("#attrposimg"+id).attr("src", s);
        }
        else{
            v = '0';
            s = s.replace("_"+id, id+"_");
            $("#attrposimg"+id).attr("src", s);
        }
        $('#attrposvalue'+id).val(v);
    }
    function toggleNegAttributeButton(id){
        var v = $('#attrnegvalue'+id).val();
        var s = $("#attrnegimg"+id).attr("src");
        if (v=='0')
        {
            v = '1';
            s = s.replace(id+"_", id);
            $("#attrnegimg"+id).attr("src", s);
        }
        else if (v=='1')
        {
            v = '2';
            s = s.replace(id, "_"+id);
            $("#attrnegimg"+id).attr("src", s);
        }
        else{
            v = '0';
            s = s.replace("_"+id, id+"_");
            $("#attrnegimg"+id).attr("src", s);
        }
        $('#attrnegvalue'+id).val(v);
    }
</script>
<!-- Attributes -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkattributes" type="checkbox" data-toggle="collapse" data-target="#pnlattributes" />
        &nbsp;&nbsp;Attributen: Bevat attributen
    </div>
    <div id="pnlattributes" class="panel-body collapse in">
        <div>
            <input type="checkbox" id="attributescontainsall" checked="checked" /> Bevat alle geselecteerde attributen (anders minstens 1 van de geselecteerde)
        </div>
        @foreach (var attr in Model.AttributeTypes)
        {
            if (attr.ID!=16)
            { 
            <div class="col-md-1">
                <img style="margin: 5px 5px 5px 5px; cursor: pointer" id="@string.Format("attrposimg{0}", attr.ID)" src='@Href(string.Format("~/Modules/Globalcaching/Media/Attributes/{0}_.gif",@attr.ID))' Width="30" Height="30" onclick="togglePosAttributeButton('@attr.ID')" title="@attr.Name" />
                <input id="@string.Format("attrposvalue{0}", attr.ID)" type="hidden" value="0" />
            </div>
        }
        }
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chknotattributes" type="checkbox" data-toggle="collapse" data-target="#pnlnotattributes" />
        &nbsp;&nbsp;Attributen: Bevat niet de attributen
    </div>
    <div id="pnlnotattributes" class="panel-body collapse in">
        @foreach (var attr in Model.AttributeTypes)
        {
            if (attr.ID!=16)
            { 
            <div class="col-md-1">
                <img style="margin: 5px 5px 5px 5px; cursor: pointer" id="@string.Format("attrnegimg{0}", attr.ID)" src='@Href(string.Format("~/Modules/Globalcaching/Media/Attributes/{0}_.gif",@attr.ID))' width="30" height="30" onclick="toggleNegAttributeButton('@attr.ID')" title="@attr.Name" />
                <input id="@string.Format("attrnegvalue{0}", attr.ID)" type="hidden" value="0" />
            </div>
        }
        }
    </div>
</div>

<!-- Latitude -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chklatitude" type="checkbox" data-toggle="collapse" data-target="#pnllatitude" />
        &nbsp;&nbsp;Coordinaat: Breedtegraad
    </div>
    <div id="pnllatitude" class="panel-body collapse in">
        Tussen
        <input type="text" id="latitudefrom" width="80" value="52.1" />
        en
        <input type="text" id="latitudeto" width="80" value="56.2" />
    </div>
</div>

<!-- Longitude -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chklongitude" type="checkbox" data-toggle="collapse" data-target="#pnllongitude" />
        &nbsp;&nbsp;Coordinaat: Lengtegraad
    </div>
    <div id="pnllongitude" class="panel-body collapse in">
        Tussen
        <input type="text" id="longitudefrom" width="80" value="5.1" />
        en
        <input type="text" id="longitudeto" width="80" value="6.2" />
    </div>
</div>

<!-- Container type -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkcontainertype" type="checkbox" data-toggle="collapse" data-target="#pnlcontainertype" />
        &nbsp;&nbsp;Container
    </div>
    <div id="pnlcontainertype" class="panel-body collapse in">
        @foreach (var gt in Model.Containers)
        {
            <div class="col-md-1"><center><img src="@Href(string.Format("~/Modules/Globalcaching/Media/container/{0}.gif", gt))" /><br /><input type="checkbox" id="@string.Format("contype{0}", @gt)" /></center></div>
        }
    </div>
</div>

<!-- Changed date -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkchangeddate" type="checkbox" data-toggle="collapse" data-target="#pnlchangeddate" />
        &nbsp;&nbsp;Datum: Aangepast datum (Geocache bewerkt / gelogd)
    </div>
    <div id="pnlchangeddate" class="panel-body collapse in">
        <div class="row">
            <div class="col-md-1">
                Vanaf:
            </div>
            <div id="changedfromdate" class="col-md-11 date">
                <input type='text' width="100" />
                <span class="fa fa-calendar"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                t/m:
            </div>
            <div id="changedtodate" class="col-md-11 date">
                <input type='text' width="100" />
                <span class="fa fa-calendar"></span>
            </div>
        </div>
    </div>
</div>

<!-- Hidden date -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkhiddendate" type="checkbox" data-toggle="collapse" data-target="#pnlhiddendate" />
        &nbsp;&nbsp;Datum: Aanmaak datum (Hidden date)
    </div>
    <div id="pnlhiddendate" class="panel-body collapse in">
        <div class="row">
            <div class="col-md-1">
                Vanaf:
            </div>
            <div id="hiddenfromdate" class="col-md-11 date">
                <input type='text' width="100" />
                <span class="fa fa-calendar"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                t/m:
            </div>
            <div id="hiddentodate" class="col-md-11 date">
                <input type='text' width="100" />
                <span class="fa fa-calendar"></span>
            </div>
        </div>
    </div>
</div>

<!-- most recent archived date -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkrecentarchiveddate" type="checkbox" data-toggle="collapse" data-target="#pnlrecentarchiveddate" />
        &nbsp;&nbsp;Datum: Meest recente Archived log
    </div>
    <div id="pnlrecentarchiveddate" class="panel-body collapse in">
        <div class="row">
            <div class="col-md-1">
                Vanaf:
            </div>
            <div id="recentarchivedfromdate" class="col-md-11 date">
                <input type='text' width="100" />
                <span class="fa fa-calendar"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                t/m:
            </div>
            <div id="recentarchivedtodate" class="col-md-11 date">
                <input type='text' width="100" />
                <span class="fa fa-calendar"></span>
            </div>
        </div>
    </div>
</div>

<!-- most recent found date -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkrecentfounddate" type="checkbox" data-toggle="collapse" data-target="#pnlrecentfounddate" />
        &nbsp;&nbsp;Datum: Meest recente found log
    </div>
    <div id="pnlrecentfounddate" class="panel-body collapse in">
        <div class="row">
            <div class="col-md-1">
                Vanaf:
            </div>
            <div id="recentfoundfromdate" class="col-md-11 date">
                <input type='text' width="100" />
                <span class="fa fa-calendar"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                t/m:
            </div>
            <div id="recentfoundtodate" class="col-md-11 date">
                <input type='text' width="100" />
                <span class="fa fa-calendar"></span>
            </div>
        </div>
    </div>
</div>

<!-- Publication date -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkpublisheddate" type="checkbox" data-toggle="collapse" data-target="#pnlpublisheddate" />
        &nbsp;&nbsp;Datum: Publicatie datum (Publish date)
    </div>
    <div id="pnlpublisheddate" class="panel-body collapse in">
        <div class="row">
            <div class="col-md-1">
                Vanaf:
            </div>
            <div id="publishedfromdate" class="col-md-11 date">
                <input type='text' width="100" />
                <span class="fa fa-calendar"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                t/m:
            </div>
            <div id="publishedtodate" class="col-md-11 date">
                <input type='text' width="100" />
                <span class="fa fa-calendar"></span>
            </div>
        </div>
    </div>
</div>

<!-- Favorites -->
<div class="panel panel-primary">
    <div class="panel-heading">
        @if (Model.UserSettings.IsPM)
        {
            <input id="chkfavorites" type="checkbox" data-toggle="collapse" data-target="#pnlfavorites" />
        }
        else
        {
            <input id="chkfavorites" type="checkbox" data-toggle="collapse" data-target="#pnlfavorites" disabled="disabled" />
        }
        &nbsp;&nbsp;Favorites
    </div>
    <div id="pnlfavorites" class="panel-body collapse in">
        Van
        <input type="text" id="favoritesfrom" width="80" value="0" />
        t/m
        <input type="text" id="favoritesto" width="80" value="10" />
    </div>
</div>

<!-- Locked -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chklocked" type="checkbox" data-toggle="collapse" data-target="#pnllocked" />
        &nbsp;&nbsp;Geblokkeerd (locked)
    </div>
    <div id="pnllocked" class="panel-body collapse in">
        <input type="checkbox" id="islocked" />
        Geblokkeerd
    </div>
</div>

<!-- Geocache Distance -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkdistance" type="checkbox" data-toggle="collapse" data-target="#pnldistance" />
        &nbsp;&nbsp;Geocache afstand (parkeerplaats-cache-parkeerplaats)
    </div>
    <div id="pnldistance" class="panel-body collapse in">
        Van
        <input type="text" id="distancefrom" width="80" value="0" />
        t/m
        <input type="text" id="distanceto" width="80" value="10" />
        (in km)
    </div>
</div>

<!-- Geocache type -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkgeocachetype" type="checkbox" data-toggle="collapse" data-target="#pnlgeocachetype" />
        &nbsp;&nbsp;Geocache type
    </div>
    <div id="pnlgeocachetype" class="panel-body collapse in">
        @foreach (var gt in Model.GeocacheTypes)
        {
            <div class="col-md-1"><center><img src="@Href(string.Format("~/Modules/Globalcaching/Media/WptTypes/s/{0}.gif", gt.ID))" /><br /><input type="checkbox" id="@string.Format("gctype{0}", @gt.ID)" /></center></div>
        }
    </div>
</div>

<!-- Owners -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkowners" type="checkbox" data-toggle="collapse" data-target="#pnlowners" />
        &nbsp;&nbsp;Geocaches van eigenaar
    </div>
    <div id="pnlowners" class="panel-body collapse in">
        <input type="checkbox" id="excludeowners" />Uitsluiten van selectie <br />
        <div class="form-group">
            <input id="owners" type="text" class="form-control" placeholder="naam van eigenaren met komma gescheiden zonder spatie bv pietje,pukje">
        </div>
    </div>
</div>

<!-- Gevonden door -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkfoundby" type="checkbox" data-toggle="collapse" data-target="#pnlfoundby" />
        &nbsp;&nbsp;Gevonden door: Gevonden door geocachers
    </div>
    <div id="pnlfoundby" class="panel-body collapse in">
        <div>
            <input type="checkbox" id="foundbyall" checked="checked" /> Gevonden door alle genoemde geocachers (anders minstens door 1 van de geocachers)
        </div>
        <div class="form-group">
            <input id="foundby" type="text" class="form-control" placeholder="naam van cachers met komma gescheiden zonder spatie bv pietje,pukje">
        </div>
    </div>
</div>

<!-- Niet gevonden door -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chknotfoundby" type="checkbox" data-toggle="collapse" data-target="#pnlnotfoundby" />
        &nbsp;&nbsp;Gevonden door: Niet gevonden door geocachers
    </div>
    <div id="pnlnotfoundby" class="panel-body collapse in">
        <div class="form-group">
            <input id="notfoundby" type="text" class="form-control" placeholder="naam van cachers met komma gescheiden zonder spatie bv pietje,pukje">
        </div>
    </div>
</div>

<!-- Country -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkcountry" type="checkbox" data-toggle="collapse" data-target="#pnlcountry" />
        &nbsp;&nbsp;Land
    </div>
    <div id="pnlcountry" class="panel-body collapse in">
        <div class="col-md-2"><input type="checkbox" id="country141" />Nederland</div>
        <div class="col-md-2"><input type="checkbox" id="country4" />Belgie</div>
        <div class="col-md-2"><input type="checkbox" id="country8" />Luxemburg</div>
    </div>
</div>

<!-- Location -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chklocation" type="checkbox" data-toggle="collapse" data-target="#pnllocation" />
        &nbsp;&nbsp;Locatie
    </div>
    <div id="pnllocation" class="panel-body collapse in">
        <div class="form-group">
            <input id="location" type="text" class="form-control" placeholder="Plaats / Coordinaat" value="Utrecht">
        </div>
        <div class="form-group">
            <input id="radius" type="text" class="form-control" placeholder="Radius in km" value="10">
        </div>
    </div>
</div>

<!-- Difficulty -->
<div class="panel panel-primary">
    <div class="panel-heading">
        @if (Model.UserSettings.IsPM)
        {
            <input id="chkdifficulty" type="checkbox" data-toggle="collapse" data-target="#pnldifficulty" />
        }
        else
        {
            <input id="chkdifficulty" type="checkbox" data-toggle="collapse" data-target="#pnldifficulty" disabled="disabled" />
        }

        &nbsp;&nbsp;M/T: Moeilijkheid
    </div>
    <div id="pnldifficulty" class="panel-body collapse in">
        Van
        <select id="difficultyfrom">
            <option value="1" selected="selected">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
        </select>
        t/m
        <select id="difficultyto">
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5" selected="selected">5</option>
        </select>
    </div>
</div>

<!-- Terrain -->
<div class="panel panel-primary">
    <div class="panel-heading">
        @if (Model.UserSettings.IsPM)
        {
            <input id="chkterrain" type="checkbox" data-toggle="collapse" data-target="#pnlterrain" />
        }
        else
        {
            <input id="chkterrain" type="checkbox" data-toggle="collapse" data-target="#pnlterrain" disabled="disabled" />
        }
        &nbsp;&nbsp;M/T: Terrein
    </div>
    <div id="pnlterrain" class="panel-body collapse in">
        Van
        <select id="terrainfrom">
            <option value="1" selected="selected">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
        </select>
        t/m
        <select id="terrainto">
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5" selected="selected">5</option>
        </select>
    </div>
</div>

<!-- Parel -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkparel" type="checkbox" data-toggle="collapse" data-target="#pnlparel" />
        &nbsp;&nbsp;Parel van de Maand
    </div>
    <div id="pnlparel" class="panel-body collapse in">
        <input type="checkbox" id="isparel" disabled="disabled" checked="checked" />
        Parel van de Maand
    </div>
</div>

<!-- Geocache status -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkstatus" type="checkbox" data-toggle="collapse" data-target="#pnlstatus" />
        &nbsp;&nbsp;Status (zoals beschikbaar en gearchiveerd)
    </div>
    <div id="pnlstatus" class="panel-body collapse in">
        <div class="col-md-3">
            <input type="radio" name="gcstatus" value="Archived">Gearchiveerd
        </div>
        <div class="col-md-3">
            <input type="radio" name="gcstatus" value="NotArchived" checked="checked">Niet gearchiveerd
        </div>
        <div class="col-md-3">
            <input type="radio" name="gcstatus" value="NotAvailable">Niet beschikbaar
        </div>
        <div class="col-md-3">
            <input type="radio" name="gcstatus" value="Available" checked="checked">Beschikbaar
        </div>
    </div>
</div>

<!-- Hints contains text -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkhintscontains" type="checkbox" data-toggle="collapse" data-target="#pnlhintscontains" />
        &nbsp;&nbsp;Tekst: Hints bevat tekst
    </div>
    <div id="pnlhintscontains" class="panel-body collapse in">
        <div class="form-group">
            <input id="hintscontains" type="text" class="form-control" placeholder="woord of zin">
        </div>
    </div>
</div>

<!-- Name contains text -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chknamecontains" type="checkbox" data-toggle="collapse" data-target="#pnlnamecontains" />
        &nbsp;&nbsp;Tekst: Naam bevat tekst
    </div>
    <div id="pnlnamecontains" class="panel-body collapse in">
        <div class="form-group">
            <input id="namecontains" type="text" class="form-control" placeholder="de tekst">
        </div>
    </div>
</div>

<hr />
<!-- Maximum -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="chkmaximum" type="checkbox" data-toggle="collapse" data-target="#pnlmaximum" />
        &nbsp;&nbsp;Maximaal aantal geocaches in selectie
    </div>
    <div id="pnlmaximum" class="panel-body collapse in">
        <div class="row">
            <div class="col-md-2">
                Maximum:
            </div>
            <div class="col-md-10">
                <input id="maximum" type="text" value="500" placeholder="500">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Sorteren op:
            </div>
            <div class="col-md-10">
                <select id="newSortBy" name="newSortBy">
@if (Model.UserSettings != null && Model.UserSettings.HomelocationLat != null && Model.UserSettings.HomelocationLon != null)
{ 
                    <option value="0">Afstand van middelpunt of thuislocatie</option>
}
                    <option value="1">Plaatsingsdatum</option>
                    <option value="2">Publicatiedatum</option>
                    <option value="3">Lengte</option>
                    <option value="4">Meest recente gevonden log</option>
                    <option value="5">Favorites</option>
                    <option value="6">Favorites percentage</option>
                    <option value="7">Aantal keer gevonden</option>
                    <option value="8">Cachetype</option>
                    <option value="9">GC Code</option>
                    <option value="10">Moeilijkheid</option>
                    <option value="11">Terrein</option>
                    <option value="12">Naam</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Volgorde:
            </div>
            <div class="col-md-10">
                <select id="newSortDir" name="newSortDir">
                    <option value="1">oplopend</option>
                    <option value="-1">aflopend</option>
                </select>
            </div>
        </div>
    </div>
</div>
<hr />

<button class="btn btn-primary" id="runmacrox">Uitvoeren</button>

    <!-- Modal -->
<div class="modal fade" id="myModalx" tabindex="-1" role="dialog" aria-labelledby="myModalLabelx" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="dlgclosebutton1x" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><img src="@Href("~/Modules/Globalcaching/Media/wait28.gif")" /> Bezig met uitvoeren van macro...</h4>
                <h4 class="modal-title" id="myModalLabelDone">Macro resultaat</h4>
            </div>
            <div class="modal-body" id="dlgmacrovoortgangx">
            </div>
            <div class="modal-footer">
                <button id="dlgclosebutton2x" type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                <a id="viewlistbuttonx" type="button" class="btn btn-primary" href='@Url.Action("MacroResult", "CacheList" , new { area="Globalcaching" })'>Bekijk lijst</a>
                <a id="viewmapbuttonx" type="button" class="btn btn-primary" href='@Url.Action("MacroResult", "CacheMap" , new { area="Globalcaching" })'>Bekijk kaart</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('#pnllocation').collapse();
    $('#pnlgeocachetype').collapse();
    $('#pnlcontainertype').collapse();
    $('#pnlstatus').collapse();
    $('#pnlcountry').collapse();
    $('#pnlhiddendate').collapse();
    $('#pnlpublisheddate').collapse();
    $('#pnlchangeddate').collapse();
    $('#pnldifficulty').collapse();
    $('#pnlterrain').collapse();
    $('#pnldistance').collapse();
    $('#pnlgcpictures').collapse();
    $('#pnlhintscontains').collapse();
    $('#pnlnamecontains').collapse();
    $('#pnlfavorites').collapse();
    $('#pnllocked').collapse();
    $('#pnlpm').collapse();
    $('#pnllatitude').collapse();
    $('#pnllongitude').collapse();
    $('#pnlowners').collapse();
    $('#pnlfoundcount').collapse();
    $('#pnlparel').collapse();
    $('#pnlfoundby').collapse();
    $('#pnlnotfoundby').collapse();
    $('#pnlattributes').collapse();
    $('#pnlnotattributes').collapse();
    $('#pnlrecentfounddate').collapse();
    $('#pnlrecentarchiveddate').collapse();
    $('#pnlmaximum').collapse();

    var activeMacrox;
    var geocacheTypes = @Html.Raw(Json.Encode(@Model.GeocacheTypes));
    var containerTypes = @Html.Raw(Json.Encode(@Model.Containers));
    var attributeTypes = @Html.Raw(Json.Encode(@Model.AttributeTypes));

    function addMacroFunction(r, f) {
        if (r == "") {
            return "Resultaat = " + f;
        }
        else {
            return r + " en " + f;
        }
    }

    function createMacroFromSelection() {
        var result = "";
        var preresult = "";
        if ($('#chknotfoundby').prop('checked'))
        {
            preresult += 'A = NietGevondenDoor("' + $('#notfoundby').val().replace(/\"/g, "\\\"").replace(/\,/g, "\",\"") + '")\r\n';
            result = addMacroFunction(result, 'A');
        }
        if ($('#chknotattributes').prop('checked'))
        {
            var s = "";
            for(var i=0; i<attributeTypes.length; i++)
            {
                var v = $('#attrnegvalue'+attributeTypes[i].ID.toString()).val();
                if (v=='1')
                {
                    if (s.length>0) s += ',';
                    s += attributeTypes[i].ID.toString();
                }
                else if (v=='2')
                {
                    if (s.length>0) s += ',';
                    s += '-' + attributeTypes[i].ID.toString();
                }
            }
            preresult += 'ATTR = NietBevatAttribuut(' + s + ')\r\n';
            result = addMacroFunction(result, 'ATTR');
        }
        if ($('#chkattributes').prop('checked'))
        {
            if ($('#attributescontainsall').prop('checked'))
            {
                var n = "";
                for(var i=0; i<attributeTypes.length; i++)
                {
                    var v = $('#attrposvalue'+attributeTypes[i].ID.toString()).val();
                    if (v=='1')
                    {
                        n = n + 'a';
                        preresult += 'ATTR'+ n + ' = BevatAttribuut(' + attributeTypes[i].ID.toString() + ')\r\n';
                        result = addMacroFunction(result, 'ATTR'+ n);
                    }
                    else if (v=='2')
                    {
                        n = n + 'a';
                        preresult += 'ATTR'+ n + ' = BevatAttribuut(-' + attributeTypes[i].ID.toString() + ')\r\n';
                        result = addMacroFunction(result, 'ATTR'+ n);
                    }
                }
            }
            else{
                var s = "";
                for(var i=0; i<attributeTypes.length; i++)
                {
                    var v = $('#attrposvalue'+attributeTypes[i].ID.toString()).val();
                    if (v=='1')
                    {
                        if (s.length>0) s += ',';
                        s += attributeTypes[i].ID.toString();
                    }
                    else if (v=='2')
                    {
                        if (s.length>0) s += ',';
                        s += '-' + attributeTypes[i].ID.toString();
                    }
                }
                preresult += 'ATTR = BevatAttribuut(' + s + ')\r\n';
                result = addMacroFunction(result, 'ATTR');
            }
        }

        if ($('#chklocation').prop('checked'))
        {
            result = addMacroFunction(result, 'BinnenStraal("' + $('#location').val().replace(/\"/g, "\\\"") + '", ' + $('#radius').val() + ')');
        }
        if ($('#chkfoundby').prop('checked'))
        {
            if ($('#foundbyall').prop('checked'))
            {
                var usrs =  $('#foundby').val().split(',');
                var n = "";
                for (var i=0; i<usrs.length; i++)
                {
                    n += "a";
                    preresult += 'GEV'+ n + ' = GevondenDoor("' + usrs[i].replace(/\"/g, "\\\"") + '")\r\n';
                    result = addMacroFunction(result, 'GEV'+ n);
                }
            }
            else
            {
                result = addMacroFunction(result, 'GevondenDoor("' + $('#foundby').val().replace(/\"/g, "\\\"").replace(/\,/g, "\",\"") + '")');
            }
        }
        if ($('#chkowners').prop('checked'))
        {
            if ($('#excludeowners').prop('checked'))
            {
                result = addMacroFunction(result, 'NietVanEigenaar("' + $('#owners').val().replace(/\"/g, "\\\"").replace(/\,/g, "\",\"") + '")');
            }
            else
            {
                result = addMacroFunction(result, 'VanEigenaar("' + $('#owners').val().replace(/\"/g, "\\\"").replace(/\,/g, "\",\"") + '")');
            }
        }
        if ($('#chklatitude').prop('checked'))
        {
            result = addMacroFunction(result, 'LatitudeTussen(' + $('#latitudefrom').val() + ', '+ $('#latitudeto').val() + ')');
        }
        if ($('#chklongitude').prop('checked'))
        {
            result = addMacroFunction(result, 'LongitudeTussen(' + $('#longitudefrom').val() + ', '+ $('#longitudeto').val() + ')');
        }
        if ($('#chklocked').prop('checked'))
        {
            if ($('#islocked').prop('checked'))
            {
                result = addMacroFunction(result, 'IsGeblokkeerd()');
            }
            else
            {
                result = addMacroFunction(result, 'NietIsGeblokkeerd()');
            }
        }
        if ($('#chkpm').prop('checked'))
        {
            if ($('#ispm').prop('checked'))
            {
                result = addMacroFunction(result, 'IsPremiumCache()');
            }
            else
            {
                result = addMacroFunction(result, 'NietIsPremiumCache()');
            }
        }
        if ($('#chkparel').prop('checked'))
        {
            if ($('#isparel').prop('checked'))
            {
                result = addMacroFunction(result, 'IsParel()');
            }
        }
        if ($('#chkhintscontains').prop('checked'))
        {
            result = addMacroFunction(result, 'HintsBevatTekst("' + $('#hintscontains').val().replace(/\"/g, "\\\"") + '")');
        }
        if ($('#chknamecontains').prop('checked'))
        {
            result = addMacroFunction(result, 'NaamBevatTekst("' + $('#namecontains').val().replace(/\"/g, "\\\"") + '")');
        }
        if ($('#chkfavorites').prop('checked'))
        {
            if ($('#favoritesfrom').val()!='0')
            {
                result = addMacroFunction(result, 'FavorietenMeerDan(' + (parseInt($('#favoritesfrom').val())-1).toString() + ')');
            }
            result = addMacroFunction(result, 'NietFavorietenMeerDan(' + $('#favoritesto').val() + ')');
        }
        if ($('#chkfoundcount').prop('checked'))
        {
            if ($('#foundcountfrom').val()!='0')
            {
                result = addMacroFunction(result, 'AantalKeerGevondenMeerDan(' + (parseInt($('#foundcountfrom').val())-1).toString() + ')');
            }
            result = addMacroFunction(result, 'NietAantalKeerGevondenMeerDan(' + $('#foundcountto').val() + ')');
        }
        if ($('#chkgcpictures').prop('checked'))
        {
            if ($('#gcpicturesfrom').val()!='0')
            {
                result = addMacroFunction(result, 'AantalPlaatjesGroterDan(' + (parseInt($('#gcpicturesfrom').val())-1).toString() + ')');
            }
            result = addMacroFunction(result, 'NietAantalPlaatjesGroterDan(' + $('#gcpicturesto').val() + ')');
        }
        if ($('#chkdistance').prop('checked'))
        {
            if ($('#distancefrom').val()!='0')
            {
                result = addMacroFunction(result, 'CacheAfstandGroterDan(' + (parseFloat($('#distancefrom').val())-0.1).toString() + ')');
            }
            result = addMacroFunction(result, 'NietCacheAfstandGroterDan(' + $('#distanceto').val() + ')');
        }
        if ($('#chkdifficulty').prop('checked'))
        {
            if ($('#difficultyfrom').val()!='1')
            {
                result = addMacroFunction(result, 'MoeilijkheidGroterDan(' + (parseFloat($('#difficultyfrom').val())-0.1).toString() + ')');
            }
            if ($('#difficultyto').val()!='5')
            {
                result = addMacroFunction(result, 'NietMoeilijkheidGroterDan(' + $('#difficultyto').val() + ')');
            }
        }
        if ($('#chkterrain').prop('checked'))
        {
            if ($('#terrainfrom').val()!='1')
            {
                result = addMacroFunction(result, 'TerreinGroterDan(' + (parseFloat($('#terrainfrom').val())-0.1).toString() + ')');
            }
            if ($('#terrainto').val()!='5')
            {
                result = addMacroFunction(result, 'NietTerreinGroterDan(' + $('#terrainto').val() + ')');
            }
        }
        if ($('#chkhiddendate').prop('checked'))
        {
            var fromd = $("#hiddenfromdate").data("DateTimePicker").getDate().subtract(1, 'days');
            var tod = $("#hiddentodate").data("DateTimePicker").getDate().add(1, 'days');
            result = addMacroFunction(result,'AanmaakDatumNa(' + fromd.date().toString() + ',' + (fromd.month()+1).toString() + ',' + fromd.year() +')');
            result = addMacroFunction(result,'AanmaakDatumVoor(' + tod.date().toString() + ',' + (tod.month()+1).toString() + ',' + tod.year() +')');
        }
        if ($('#chkpublisheddate').prop('checked'))
        {
            var fromd = $("#publishedfromdate").data("DateTimePicker").getDate().subtract(1, 'days');
            var tod = $("#publishedtodate").data("DateTimePicker").getDate();
            result = addMacroFunction(result,'GepubliceerdNaDatum(' + fromd.date().toString() + ',' + (fromd.month()+1).toString() + ',' + fromd.year() +')');
            result = addMacroFunction(result,'NietGepubliceerdNaDatum(' + tod.date().toString() + ',' + (tod.month()+1).toString() + ',' + tod.year() +')');
        }
        if ($('#chkrecentfounddate').prop('checked'))
        {
            var fromd = $("#recentfoundfromdate").data("DateTimePicker").getDate().subtract(1, 'days');
            var tod = $("#recentfoundtodate").data("DateTimePicker").getDate();
            result = addMacroFunction(result,'GevondenNaDatum(' + fromd.date().toString() + ',' + (fromd.month()+1).toString() + ',' + fromd.year() +')');
            result = addMacroFunction(result,'NietGevondenNaDatum(' + tod.date().toString() + ',' + (tod.month()+1).toString() + ',' + tod.year() +')');
        }
        if ($('#chkrecentarchiveddate').prop('checked'))
        {
            var fromd = $("#recentarchivedfromdate").data("DateTimePicker").getDate().subtract(1, 'days');
            var tod = $("#recentarchivedtodate").data("DateTimePicker").getDate();
            result = addMacroFunction(result,'ArchivedLogNaDatum(' + fromd.date().toString() + ',' + (fromd.month()+1).toString() + ',' + fromd.year() +')');
            result = addMacroFunction(result,'NietArchivedLogNaDatum(' + tod.date().toString() + ',' + (tod.month()+1).toString() + ',' + tod.year() +')');
        }
        if ($('#chkchangeddate').prop('checked'))
        {
            var fromd = $("#changedfromdate").data("DateTimePicker").getDate().subtract(1, 'days');
            var tod = $("#changedtodate").data("DateTimePicker").getDate();
            result = addMacroFunction(result,'AangepastNaDatum(' + fromd.date().toString() + ',' + (fromd.month()+1).toString() + ',' + fromd.year() +')');
            result = addMacroFunction(result,'NietAangepastNaDatum(' + tod.date().toString() + ',' + (tod.month()+1).toString() + ',' + tod.year() +')');
        }
        if ($('#chkgeocachetype').prop('checked'))
        {
            var lst = "";
            for(var i=0; i<geocacheTypes.length; i++)
            {
                if ($('#gctype'+geocacheTypes[i].ID.toString()).prop('checked'))
                {
                    if (lst=="")
                    {
                        lst = lst + geocacheTypes[i].ID.toString();
                    }
                    else{
                        lst = lst + ", " + geocacheTypes[i].ID.toString();
                    }
                }
            }
            result = addMacroFunction(result, "CacheType("+lst+")");
        }
        if ($('#chkcountry').prop('checked'))
        {
            var lst = "";
            if ($('#country141').prop('checked'))
            {
                if (lst=="")
                {
                    lst = lst + '141';
                }
                else{
                    lst = lst + ", " + '141';
                }
            }
            if ($('#country4').prop('checked'))
            {
                if (lst=="")
                {
                    lst = lst + '4';
                }
                else{
                    lst = lst + ", " + '4';
                }
            }
            if ($('#country8').prop('checked'))
            {
                if (lst=="")
                {
                    lst = lst + '8';
                }
                else{
                    lst = lst + ", " + '8';
                }
            }
            result = addMacroFunction(result, "LandCode("+lst+")");
        }
        if ($('#chkcontainertype').prop('checked'))
        {
            var lst = "";
            for(var i=0; i<containerTypes.length; i++)
            {
                if ($('#contype'+containerTypes[i].toString()).prop('checked'))
                {
                    if (lst=="")
                    {
                        lst = lst + containerTypes[i].toString();
                    }
                    else{
                        lst = lst + ", " + containerTypes[i].toString();
                    }
                }
            }
            result = addMacroFunction(result, "Container("+lst+")");
        }
        if ($('#chkstatus').prop('checked'))
        {
            var lst = "";
            var chkst = $('input[name=gcstatus]:checked').val();
            if (chkst=='Archived')
            {
                result = addMacroFunction(result, "Gearchiveerd()");
            }
            else if (chkst=='NotArchived')
            {
                result = addMacroFunction(result, "NietGearchiveerd()");
            }
            else if (chkst=='Available')
            {
                result = addMacroFunction(result, "Beschikbaar()");
            }
            else//not available
            {
                result = addMacroFunction(result, "NietBeschikbaar()");
                result = addMacroFunction(result, "NietGearchiveerd()");
            }
        }
        if ($('#chkmaximum').prop('checked'))
        {
            result = result.replace("Resultaat =", "MQ =");
            result += "\r\nResultaat = Maximaal(MQ," + $('#maximum').val() + "," + $('#newSortBy').val() + "," + $('#newSortDir').val() + ")";
        }
        if (preresult.length>0)
        {
            result = preresult + result;
        }
        return result;
    }

    function htmlEncodex(value) {
        return $('<div/>').text(value).html();
    }

    function updateMacroProgressx() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetMacro", "Macro", new { area = "Globalcaching" })',
            data: {
                id: activeMacrox.ID,
                __RequestVerificationToken: '@Html.AntiForgeryTokenValueOrchard()'
            },
            success: function (response) {
                $('#dlgmacrovoortgangx').html(htmlEncodex(response.ProcessInfo).replace(/\r/g, "<br />").replace(/\n/g, ""));

                if (response.ProcessedSteps < 0 || response.FinishedTime != null) {
                    $('#dlgclosebutton1x').show();
                    $('#dlgclosebutton2x').show();
                    $('#myModalLabel').hide();
                    $('#myModalLabelDone').show();

                    if (response.ProcessedSteps > 0) {
                        $('#viewlistbuttonx').show();
                        $('#viewmapbuttonx').show();
                    }
                }
                else {
                    setTimeout(function () { updateMacroProgressx(); }, 2000);
                }
            },
            error: function (data, errorText) {
                $('#dlgclosebutton1x').show();
                $('#dlgclosebutton2x').show();
                $('#myModalLabel').hide();
                $('#myModalLabelDone').show();
                alert(errorText);
            }
        });

    }

    function runSba() {
        myApp.showPleaseWait();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Run", "Macro", new { area = "Globalcaching" })',
            data: {
                id: "ZoekenOpEigenschappen",
                macro: createMacroFromSelection(),
                __RequestVerificationToken: '@Html.AntiForgeryTokenValueOrchard()'
            },
            success: function (response) {
                myApp.hidePleaseWait();

                for (var i = 0; i < response.length; i++) {
                    if (response[i].Name == "ZoekenOpEigenschappen") {
                        activeMacrox = response[i];
                    }
                }
                //show progress dialog
                $('#myModalLabel').show();
                $('#myModalLabelDone').hide();
                $('#dlgmacrovoortgangx').text('');
                $('#dlgclosebutton1x').hide();
                $('#dlgclosebutton2x').hide();
                $('#viewlistbuttonx').hide();
                $('#viewmapbuttonx').hide();
                $('#myModalx').modal({ show: true, backdrop: 'static', keyboard: false });

                setTimeout(function () { updateMacroProgressx(); }, 2000);
            },
            error: function (data, errorText) {
                myApp.hidePleaseWait();
                alert(errorText);
            }
        });
    }

    $("#runmacrox").click(function () {
        runSba();
    });

    $(function () {
        var d = moment('1/1/2001');
        $('#hiddenfromdate').datetimepicker({
            defaultDate: d
        });
        $('#publishedfromdate').datetimepicker({
            defaultDate: d
        });
        $('#changedfromdate').datetimepicker({
            defaultDate: d
        });
        $('#recentfoundfromdate').datetimepicker({
            defaultDate: d
        });
        $('#recentarchivedfromdate').datetimepicker({
            defaultDate: d
        });
        var e = moment();
        $('#hiddentodate').datetimepicker({
            defaultDate: e
        });
        $('#publishedtodate').datetimepicker({
            defaultDate: e
        });
        $('#changedtodate').datetimepicker({
            defaultDate: e
        });
        $('#recentfoundtodate').datetimepicker({
            defaultDate: e
        });
        $('#recentarchivedtodate').datetimepicker({
            defaultDate: e
        });
    });

</script>