<p>Elke maand worden er diverse nieuwe geocaches gepubliceerd.
    Daar zitten altijd wel geocaches tussen die overduidelijk de moeite waard zijn, die opvallen omdat de cachepagina's zo mooi zijn opgemaakt, 
    waarvan de logs aangeven dat het zulke mooie geocaches zijn en/of omdat ze veel Favorites hebben gekregen in een korte tijd. 
    Echte pareltjes dus! 
    Wij kiezen daarom elke publicatie maand een Nederlandse en Belgische cache (op basis van de cachepagina, 
    mooie logs, favorites, foto's bij logs enz enz) uit en noemen deze <strong>De Parel van de maand</strong>. 
    Elke Parel van de maand wordt opgenomen in de Nederlandse en Belgische <a href="@Href("~/Parels")">parelgalerij</a> op globalcaching.</p>
<hr style="height: 2px;" size="2">
<p>
    <strong>De Nederlandse Parel van de maand</strong>
    <a href="@Href("~/Geocache/")@Model.Netherlands.Code"><img style="float: right;" src="@Href("~/")@Model.Netherlands.BannerUrl" width="132" height="48"></a>
</p>
<p>
    De Parel van de (publicatie) maand <strong>@Model.Netherlands.Month</strong> is de @Model.Netherlands.GeocacheTypeName:<span style="font-size: medium;"><strong><span> <a href="@Href("~/Geocache/")@Model.Netherlands.Code">@Model.Netherlands.Name</a><a href="@Href("~/Geocache/")@Model.Netherlands.Code"></a></span></strong></span>
</p>
<hr style="height: 2px;" size="2">
<p>
    <strong>De Belgische Parel van de maand</strong>
    <a href="@Href("~/Geocache/")@Model.Belgium.Code"><img style="float: right;" src="@Href("~/")@Model.Belgium.BannerUrl" width="132" height="48"></a>
</p>
<p>
    De Parel van de (publicatie) maand <strong>@Model.Belgium.Month</strong> is de @Model.Belgium.GeocacheTypeName:<span style="font-size: medium;"><strong><span> <a href="@Href("~/Geocache/")@Model.Belgium.Code">@Model.Belgium.Name</a><a href="@Href("~/Geocache/")@Model.Belgium.Code"></a></span></strong></span>
</p>