<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

@{
    Style.Require("datetimepicker.Style");
    Script.Require("jQuery").AtFoot();
    Script.Require("jQueryUI").AtFoot();
}

<style>

    #sortable li {
        cursor:move;
    }

</style>

<h3>Geocaches toevoegen aan de lijst</h3>

<div class="input-group">
    <input type="text" class="form-control" id="addgccode" placeholder="GC code bv GC12345">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" id="addgccodeButton">Toevoegen</button>
    </span>
</div>
<div class="input-group">
    <input type="text" class="form-control" id="addowner" placeholder="caches van eigenaar bv pietje">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" id="addownerButton">Toevoegen</button>
    </span>
</div>
<div class="input-group">
    <input type="text" class="form-control" id="addname" placeholder="(deel van) naam geocache(s)">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" id="addnameButton">Toevoegen</button>
    </span>
</div>
<div class="input-group">
    <textarea class="form-control" rows="10" id="geocachevisits" placeholder="geocache_visits.txt inhoud" readonly="readonly"></textarea>
    <span class="input-group-btn">
        <input id="fileupload" type="file" name="file" accept=".txt" class="btn btn-primary">
    </span>
</div>

<h3>Geocaches</h3>
<ul id="sortable" class="list-group">
</ul>

<h3>Log</h3>
<div class="form-horizontal">
    <div class="form-group">
        <label for="visitDateDiv" class="col-sm-1 control-label">@T("Datum")</label>
        <div class='col-sm-11 input-group date' id='visitDateDiv'>
            <input type='text' class="form-control" id='visitDate' />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="logText" class="col-sm-1 control-label">@T("Tekst")</label>
        <div class="col-sm-11">
            <textarea id="logText" rows="7" class="form-control" placeholder="plaats hier jouw log"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="pauseafterlog" />
                    @T("Stop na elke log")
                </label>
            </div>
        </div>
    </div>

    <input type="hidden" id="gcid" value="@Model.Code" />
    <a type="button" class="col-sm-offset-1 col-sm-11 btn btn-primary" href="#" id="submitLogButton">Start (Log geocaches als gevonden)</a>
    <a type="button" class="col-sm-offset-1 col-sm-11 btn btn-primary" href="#" id="stopLogButton">Stop het loggen</a>
</div>

<div class="modal fade" id="dialog-getgcinfo" tabindex="-1" role="dialog" aria-labelledby="getgcinfoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="getgcinfoLabel">Ophalen van de geocache informatie</h4>
            </div>
            <div class="modal-body">
                Bezig met ophalen van de geocaches...
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var repTimer = null;
    var isSingleLog = false;
    var availableCodes = [];
    var gvinfo = {};
    var gvinfoKeys = [];
    var gvinfoFetchPosition = 0;

    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }

    function addGeocaches(response) {
        if (response != null && response != "") {
            for (var i = 0; i < response.length; i++) {
                var line = response[i];
                if ($('#' + line.Code).length == 0) {
                    availableCodes.push(line.Code);
                    $("#sortable").append('<li id="' + line.Code + '" class="list-group-item"><button class="btn btn-primary" type="button" id="log' + line.Code + '" onclick="return logGeocache(\'' + line.Code + '\')">log</button> ' + line.Code + ': ' + htmlEncode(line.Name) + ' <button class="btn btn-danger btn-xs pull-right" type="button" id="remove' + line.Code + '" onclick="return removeGeocache(\'' + line.Code + '\')">verwijder</button></li>');
                    if (line.Found) {
                        $('#log' + line.Code).hide();
                    }
                }
            }
        }
    }

    function enableLogButtons(enable) {
        for (var i = 0; i < availableCodes.length; i++) {
            if (enable) {
                $("#log" + availableCodes[i]).removeAttr("disabled");
            }
            else {
                $("#log" + availableCodes[i]).attr("disabled", "disabled");
            }
        }
        if (enable) {
            $("#submitLogButton").show();
            $("#stopLogButton").hide();
        }
        else {
            $("#submitLogButton").hide();
            $("#stopLogButton").show();
        }
    }

    function logGeocache(code) {
        isSingleLog = true;
        submitLog(code);
        return false;
    }

    function removeGeocache(code) {
        var el = null;
        $("#sortable").find('li').each(function () {
            var currentId = $(this).attr('id');
            if (currentId === code) {
                el = $(this);
                return false;
            }
        });
        if (el != null) {
            el.remove();
            for (var i = availableCodes.length - 1; i >= 0; i--) {
                if (availableCodes[i] === code) {
                    availableCodes.splice(i, 1);
                    break;
                }
            }
        }
        return false;
    }

    function addByGCCode() {
        myApp.showPleaseWait();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetGeocachesByCode", "GeocacheBatchLog", new { area = "Globalcaching" })',
            data: {
                code: $("#addgccode").val(),
                __RequestVerificationToken: '@Html.AntiForgeryTokenValueOrchard()'
            },
            success: function (response) {
                myApp.hidePleaseWait();
                addGeocaches(response);
            },
            error: function (data, errorText) {
                myApp.hidePleaseWait();
                alert(errorText);
            }
        });
    }

    function addByGCInfo() {
        if (gvinfoFetchPosition < gvinfoKeys.length) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetGeocachesByCode", "GeocacheBatchLog", new { area = "Globalcaching" })',
                data: {
                    code: gvinfoKeys[gvinfoFetchPosition],
                    __RequestVerificationToken: '@Html.AntiForgeryTokenValueOrchard()'
                },
                success: function (response) {
                    addGeocaches(response);
                    gvinfoFetchPosition++;
                    var progress = gvinfoFetchPosition / gvinfoKeys.length * 100;
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                    addByGCInfo();
                },
                error: function (data, errorText) {
                    gvinfoFetchPosition++;
                    var progress = gvinfoFetchPosition / gvinfoKeys.length * 100;
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                    addByGCInfo();
                }
            });
        }
        else {
            $('#dialog-getgcinfo').modal('hide');
        }
    }

    function addByOwner() {
        myApp.showPleaseWait();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetGeocachesByOwner", "GeocacheBatchLog", new { area = "Globalcaching" })',
            data: {
                owner: $("#addowner").val(),
                __RequestVerificationToken: '@Html.AntiForgeryTokenValueOrchard()'
            },
            success: function (response) {
                myApp.hidePleaseWait();
                addGeocaches(response);
            },
            error: function (data, errorText) {
                myApp.hidePleaseWait();
                alert(errorText);
            }
        });
    }

    function addByName() {
        myApp.showPleaseWait();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetGeocachesByName", "GeocacheBatchLog", new { area = "Globalcaching" })',
            data: {
                name: $("#addname").val(),
                __RequestVerificationToken: '@Html.AntiForgeryTokenValueOrchard()'
            },
            success: function (response) {
                myApp.hidePleaseWait();
                addGeocaches(response);
            },
            error: function (data, errorText) {
                myApp.hidePleaseWait();
                alert(errorText);
            }
        });
    }

    function getFirstGeocacheToLog() {
        var code = null;
        $("#sortable").find('li').each(function () {
            var currentId = $(this).attr('id');
            if ($("#log" + currentId).is(":visible")) {
                code = currentId;
                return false;
            }
        });
        return code;
    }

    function startLogging() {
        if ($("#logText").val() == '') {
            alert("Vul eerst de logtekst in.");
            return;
        }
        var code = getFirstGeocacheToLog();
        if (code != null) {
            submitLog(code);
        }
    }

    function submitLog(code) {
        if ($("#logText").val() == '') {
            alert("Vul eerst de logtekst in.");
            return;
        }
        myApp.showPleaseWait();
        enableLogButtons(false);
        $.ajax({
            type: "POST",
            url: '@Url.Action("LogGC", "LogGCCom", new { area = "Globalcaching" })',
            data: {
                gcid: code,
                visitDate: $("#visitDateDiv").data("DateTimePicker").getDate().toISOString(),
                logText: $("#logText").val(),
                favorite: false,
                __RequestVerificationToken: '@Html.AntiForgeryTokenValueOrchard()'
            },
            success: function (response) {
                myApp.hidePleaseWait();
                enableLogButtons(true);
                if (response != null) {
                    if (response[0] == "OK") {
                        $('#log' + code).hide();
                        if (!isSingleLog) {
                            if (getFirstGeocacheToLog() != null) {
                                enableLogButtons(false);
                                repTimer = setTimeout(function () { startLogging(); }, 2000);
                            }
                        }
                    }
                    else {
                        alert("ERROR");
                    }
                }
            },
            error: function (data, errorText) {
                myApp.hidePleaseWait();
                enableLogButtons(true);
                alert(errorText);
            }
        });
    }

    $(function () {
        $("#sortable").sortable();

        $('#fileupload').change(function () {
            gvinfo = {};
            var f = document.getElementById('fileupload').files[0];
            if (f) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var content = e.target.result;
                    $('#geocachevisits').text(content);
                    var lines = content.match(/[^\r\n]+/g);
                    var cacheCount = 0;
                    for (var i = 0; i < lines.length; i++) {
                        if (lines[i] != '') {
                            var parts = lines[i].match(/[^,]+/g);
                            if (parts.length == 4) {
                                if (parts[2] === 'Found it') {
                                    cacheCount++;
                                    gvinfo[parts[0]] = parts;
                                }
                            }
                        }
                    }
                    if (cacheCount > 0) {
                        $('#dialog-getgcinfo').appendTo('body').modal({ "backdrop": "static", "keyboard": false });
                        gvinfoKeys = Object.keys(gvinfo);
                        gvinfoFetchPosition = 0;
                        addByGCInfo();
                    }
                }
                reader.readAsText(f, 'UTF-16');
            }
        });

        var d = moment();
        $('#visitDateDiv').datetimepicker({
            defaultDate: d
        });

        $("#stopLogButton").hide();

        $("#stopLogButton").click(function () {
            if (repTimer != null) {
                clearTimeout(repTimer);
            }
            enableLogButtons(true);
            return false;
        });

        $("#submitLogButton").click(function () {
            isSingleLog = $("#pauseafterlog").is(':checked');
            startLogging();
            return false;
        });

        $('#addgccode').keypress(function (e) {
            if (e.which == '13') {
                addByGCCode();
                e.preventDefault();
            }
        });

        $("#addgccodeButton").click(function () {
            addByGCCode();
        });

        $('#addowner').keypress(function (e) {
            if (e.which == '13') {
                addByOwner();
                e.preventDefault();
            }
        });

        $("#addownerButton").click(function () {
            addByOwner();
        });

        $('#addname').keypress(function (e) {
            if (e.which == '13') {
                addByName();
                e.preventDefault();
            }
        });

        $("#addnameButton").click(function () {
            addByName();
        });

    });
</script>
