<h4>Geocaches gepubliceerd in Nederland</h4>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Jaar</th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/2.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/3.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/4.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/5.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/6.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/8.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/11.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/13.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/137.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/453.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/1858.gif")" /></th>
            <th class="text-center">Totaal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in @Model.nlAll)
        {
            <tr>
                <td class="text-center">@l.Jaar</td>
                <td class="text-center">@l._2</td>
                <td class="text-center">@l._3</td>
                <td class="text-center">@l._4</td>
                <td class="text-center">@l._5</td>
                <td class="text-center">@l._6</td>
                <td class="text-center">@l._8</td>
                <td class="text-center">@l._11</td>
                <td class="text-center">@l._13</td>
                <td class="text-center">@l._137</td>
                <td class="text-center">@l._453</td>
                <td class="text-center">@l._1858</td>
                <td class="text-center">@(l._2 + l._3 + l._4 + l._5 + l._6 + l._8 + l._11 + l._13 + l._137 + l._453 + l._1858)</td>
            </tr>
        }
    </tbody>
</table>
<br />
<h4>Geocaches gepubliceerd in Nederland welke nog actief zijn</h4>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Jaar</th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/2.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/3.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/4.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/5.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/6.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/8.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/11.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/13.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/137.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/453.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/1858.gif")" /></th>
            <th class="text-center">Totaal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in @Model.nlOnline)
        {
            <tr>
                <td class="text-center">@l.Jaar</td>
                <td class="text-center">@l._2</td>
                <td class="text-center">@l._3</td>
                <td class="text-center">@l._4</td>
                <td class="text-center">@l._5</td>
                <td class="text-center">@l._6</td>
                <td class="text-center">@l._8</td>
                <td class="text-center">@l._11</td>
                <td class="text-center">@l._13</td>
                <td class="text-center">@l._137</td>
                <td class="text-center">@l._453</td>
                <td class="text-center">@l._1858</td>
                <td class="text-center">@(l._2 + l._3 + l._4 + l._5 + l._6 + l._8 + l._11 + l._13 + l._137 + l._453 + l._1858)</td>
            </tr>
        }
    </tbody>
</table>


<h4>Geocaches gepubliceerd in Belgie</h4>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Jaar</th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/2.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/3.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/4.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/5.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/6.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/8.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/11.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/13.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/137.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/453.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/1858.gif")" /></th>
            <th class="text-center">Totaal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in @Model.beAll)
        {
            <tr>
                <td class="text-center">@l.Jaar</td>
                <td class="text-center">@l._2</td>
                <td class="text-center">@l._3</td>
                <td class="text-center">@l._4</td>
                <td class="text-center">@l._5</td>
                <td class="text-center">@l._6</td>
                <td class="text-center">@l._8</td>
                <td class="text-center">@l._11</td>
                <td class="text-center">@l._13</td>
                <td class="text-center">@l._137</td>
                <td class="text-center">@l._453</td>
                <td class="text-center">@l._1858</td>
                <td class="text-center">@(l._2 + l._3 + l._4 + l._5 + l._6 + l._8 + l._11 + l._13 + l._137 + l._453 + l._1858)</td>
            </tr>
        }
    </tbody>
</table>
<br />
<h4>Geocaches gepubliceerd in Belgie welke nog actief zijn</h4>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Jaar</th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/2.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/3.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/4.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/5.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/6.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/8.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/11.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/13.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/137.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/453.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/1858.gif")" /></th>
            <th class="text-center">Totaal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in @Model.beOnline)
        {
            <tr>
                <td class="text-center">@l.Jaar</td>
                <td class="text-center">@l._2</td>
                <td class="text-center">@l._3</td>
                <td class="text-center">@l._4</td>
                <td class="text-center">@l._5</td>
                <td class="text-center">@l._6</td>
                <td class="text-center">@l._8</td>
                <td class="text-center">@l._11</td>
                <td class="text-center">@l._13</td>
                <td class="text-center">@l._137</td>
                <td class="text-center">@l._453</td>
                <td class="text-center">@l._1858</td>
                <td class="text-center">@(l._2 + l._3 + l._4 + l._5 + l._6 + l._8 + l._11 + l._13 + l._137 + l._453 + l._1858)</td>
            </tr>
        }
    </tbody>
</table>
<br />
<h4>Geocaches gepubliceerd in Luxemburg welke nog actief zijn</h4>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">Jaar</th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/2.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/3.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/4.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/5.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/6.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/8.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/11.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/13.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/137.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/453.gif")" /></th>
            <th class="text-center"><img src="@Href("~/Modules/Globalcaching/Media/WptTypes/1858.gif")" /></th>
            <th class="text-center">Totaal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in @Model.luOnline)
        {
            <tr>
                <td class="text-center">@l.Jaar</td>
                <td class="text-center">@l._2</td>
                <td class="text-center">@l._3</td>
                <td class="text-center">@l._4</td>
                <td class="text-center">@l._5</td>
                <td class="text-center">@l._6</td>
                <td class="text-center">@l._8</td>
                <td class="text-center">@l._11</td>
                <td class="text-center">@l._13</td>
                <td class="text-center">@l._137</td>
                <td class="text-center">@l._453</td>
                <td class="text-center">@l._1858</td>
                <td class="text-center">@(l._2 + l._3 + l._4 + l._5 + l._6 + l._8 + l._11 + l._13 + l._137 + l._453 + l._1858)</td>
            </tr>
        }
    </tbody>
</table>
