<h2><span style="font-size: xx-large;">Overzicht @Model.Year</span></h2>
<ul>
    <li>Jaarlijks 1020 euro&nbsp;voor huur server in datacenter (<a href="http://www.hetzner.de/" target="_blank">http://www.hetzner.de/</a>).</li>
    <li>Jaarlijks 180 Euro&nbsp;voor 6 extra geocaching.com premium member accounts</li>
</ul>
<div></div>
Totale kosten: @string.Format("{0:0.00}", Model.TotalCosts) euro op jaarbasis<b><b><br /></b></b>Het totaal aan ontvangen donaties bedraagt in @Model.Year (t/m @Model.MostRecentDonationDate.ToString("m", new System.Globalization.CultureInfo(1043))): @string.Format("{0:0.00}", Model.TotalIncome) euro<br />