<h3>Bezoekers Activiteiten</h3>

<table class="table table-striped table-hover" id="searchFavoritesResults">
    <thead>
        <tr>
            <th>Tijd</th>
            <th>IP</th>
            <th>Naam</th>
            <th>Pagina</th>
            <th>Parameters</th>
        </tr>
    </thead>
    @foreach (var l in Model)
    {
        if (l.Name != "Guest")
        { 
        <tr>
            <td>@string.Format("{0:HH:mm:ss}", l.LastActive)</td>
            <td>@l.IP</td>
            <td>@l.Name</td>
            <td>@l.Location</td>
            <td>@l.PageParam</td>
        </tr>
    }
    }
    <tbody>

    </tbody>
</table>
